*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size:62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #b6b8bbfc;
}

li{
    display: flex;
    list-style: none;
    
    
    
}

a{
    text-decoration: none;
    
    
}

.header{
    border-bottom: 1px solid #e2e8f0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.1rem;
    position: fixed;
    background: #a2a2a2fc;
    width: 100%;
    
}

.hamburger{
    display: none;
    margin-left: 50px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    margin-left: 3rem;

}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #482ff7;
    
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo{
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
    width: 400px;
    
    
    
}

@media only screen and (max-width:768px){
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #b6b8bbfc;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0,0,0.05);
    
}

.nav-menu.active{
    left: 0;
}
.hamburger{
    display: block;
    cursor: pointer;
}

.hamburger.active.bar:nth-Child(2){
    opacity:0
}
.hamburger.active.bar:nth-Child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active.bar:nth-Child(3){
    transform: translateY(-8px) rotate(-45deg);
}

}

.main{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #482ff7;
}

.container{
    display: block;
    width: auto;
    /* margin-right: 100px; */
    align-items: flex-start;
    text-align: start;
    justify-content: start;
    margin-top: 70px;
    margin-left: 150px;
    
}

.container1{
    margin-bottom: 10px;
    font-size: 1.2rem ;
}

.container2{
  margin-bottom: 20px;
  font-size: 1.5rem;
  
}

button{
    background-color: #2d3034fc;
    color:#482ff7 ;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: #482ff7;
    color:#FFF ;
}

.services1{
    margin-bottom: 10px;
}


.img{
    padding: 50px;
    height: 500px;
    margin-top: 40px;
    margin-left: 70px;
    
}

.info{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.about{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 20px;
    justify-content: center;
    padding-right: 10px;
}

.tme{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.img2{
    margin-left: 100px;
    margin-top: 10px;
    padding: 20px;
}


.imgcos{
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.cos{
    margin-left: 100px;
    margin-top: 40px;
    padding: 30px;
}

.services{
    
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 20px;
    justify-content: center;
    padding-right: 10px;

}

.ser{
    display: flex;
    text-align: center;
    justify-content: center;
   
}

.tservice{
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 20px;
    

}

.container10{
    display: flex;
    /* flex-direction: column; */
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1rem;

}
.imgservice{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: 50px;
}

.project{
    margin-left: 100px;
    margin-bottom: 90px;
    padding: 10px;
}

.tproject{
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer{
    background: #482ff7;
    color: #e2e8f0;
    padding-left: 30px;
    padding-right: 30px;
    
}

.info a{
    color: #FFF;
    text-decoration: none;
    list-style: none;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}